* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('abstract-line-wave-linear-gradient-background-modern-colorful-wavy-line-abstract-background-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background: linear-gradient(135deg, #a8ff78, #78ffd6); 
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    text-align: center;
    color: white;
    transform: scale(0);
    animation: zoomIn 3s forwards;
}

header {
    margin-bottom: 30px;
}

header nav {
    margin-bottom: 20px;
}

header nav a {
    text-decoration: none;
    color: #6a1b9a;
    margin: 0 15px;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ff5722;
}

h1 {
    font-size: 2.5rem;
    color: #4a148c;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2rem;
    color: #283593;
    margin-bottom: 20px;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #ffffff;
    transition: border 0.3s ease;
}

input:focus, textarea:focus, select:focus {
    border-color: #4caf50;
    outline: none;
}
textarea {
    resize: vertical;
    height: 150px;
}

button {
    width: 80%;
    padding: 12px;
    background-color: #6200ea;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

ul li {
    background: #14e336;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: white;
    font-size: 16px;
    transition: background 0.3s ease;
}

ul li:hover {
    background: #2980b9;
}

ul li strong {
    font-size: 1.2rem;
    color: #4a148c;
}

ul li em {
    font-size: 1rem;
    color: #888;
}

ul li button {
    background-color: #6200ea;
     
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

ul li button:hover {
    background-color: #3c2bc0;
    transform: scale(1.05);
}

footer {
    margin-top: 40px;
    padding: 20px;
    font-size: 14px;
    color: white;
    text-align: center;
    background: #2c3e50;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

@keyframes zoomIn {
    to {
        transform: scale(1);
    }
}
